
<ion-content>
  <div class="flex-center"><ion-card>
    <img alt="Silhouette of mountains" src="https://docs-demo.ionic.io/assets/madison.jpg" />
    <ion-card-header>
      <ion-card-title color="danger">REC</ion-card-title>

    </ion-card-header>
  
    <ion-card-content>
     
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input type="Password"></ion-input>
      </ion-item>

      <ion-button color="danger" fill="clear"size="full">Forgot Email / Password</ion-button>
      <ion-button color="danger" size="full">Login</ion-button>
      <ion-button color="danger" fill="clear" size="full">Register</ion-button>

    </ion-card-content>
  </ion-card></div>

</ion-content>
